body {
  font-size: 1rem;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #c4d0d6;
  position: relative;
  overflow-y: scroll;
  background-color: #161c20;
}

a {
  color: #9be8f0;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #bdeff5;
  text-decoration: underline;
}

code {
  color: #9be8f0;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.content {
  padding: 1rem;
  background: #1d262a;
}

h1 {
  color: #9be8f0;
  margin: 0 0 2rem 0;
  font-size: 2rem;
  line-height: 2rem;
}

button {
  cursor: pointer;
  float: right;
  border: none;
  margin: 0 0 0 2rem;
  padding: 0;
  background: none;
}

button:hover {
  border: none;
}

button span {
  display: none;
}

button svg {
  width: 2rem;
  height: 2rem;
}

.menu ul {
  color: #6b767e;
  font-size: .75rem;
  list-style: none;
  padding: 1rem;
}

.menu ul li {
  display: inline-block;
  margin-right: 1rem;
}

p {
  position: relative;
  margin: 0 0 1rem;
}

p:after {
  content: 'Copied!';
  position: absolute;
  top: 0;
  right: 0;
  padding: .4rem .6rem;
  font-size: .75rem;
  background: #2e8a52;
  color: #fff;
  opacity: 0;
  transition: opacity 200ms ease;
}

p.success:after {
  opacity: 1;
}

p:last-child {
  margin-bottom: 0;
}

.footer {
  padding: 2rem 1rem;
  color: #6b767e;
  font-size: .75rem;
}

.footer p {
  margin: 0;
}

.footer ul {
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.footer + .footer {
  padding-top: 0;
}
