body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1.5;
  color: #2A2C2B;
  position: relative;
  overflow-y: scroll;
}

a {
  color: #1998a6;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #11666f;
  text-decoration: underline;
}

code {
  color: #083337;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.content {
  padding: 1.5rem;
  background: #f4fcfd;
}

h1 {
  color: #1998a6;
  margin: 0 0 2rem 0;
  font-size: 2rem;
}

button {
  cursor: pointer;
  float: right;
  border: none;
  margin: 0 0 0 2rem;
  padding: 0;
  background: none;
}

button:hover {
  border: none;
}

button span {
  display: none;
}

button svg {
  width: 2rem;
  height: 2rem;
}

.menu ul {
  color: #6b767e;
  font-size: .75rem;
  list-style: none;
  padding-left: 1rem;
  margin: 1rem 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 1rem;
}

p {
  position: relative;
  margin: 0 0 1rem;
}

p:after {
  content: 'Copied!';
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  font-size: .75rem;
  background: #67CC8E;
  color: #fff;
  opacity: 0;
  transition: opacity 200ms ease;
}

p.success:after {
  opacity: 1;
}

p:last-child {
  margin-bottom: 0;
}

.footer {
  padding: 2rem 0;
  color: #6b767e;
  font-size: .75rem;
}

.footer p {
  margin: 0;
}

.footer ul {
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.footer + .footer {
  padding-top: 0;
}
