<!DOCTYPE html>
<html lang="en" class="min-h-full bg-gray-900 text-gray-100" style="background-color: #1d1f23; color: #f8f9fa">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copy-paragraphs" content="{{ .ShowsParagraphs }}">

  <title>DevLorem</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" href="/static/favicon.svg">

  <meta property="og:title" content="DevLorem" />
  <meta property="og:url" content="https://devlorem.kovah.de/" />
  <meta property="og:description" content="Real quotes ready to copy and paste. No more 'Lorem ipsum dolor'. Get some quotes from President Obama,
Samuel L Jackson, Daisy Ridley or Morgan Freeman!" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="DevLorem">
  <meta name="twitter:description" content="Real quotes ready to copy and paste. No more 'Lorem ipsum dolor'. Get some quotes from President Obama,
Samuel L Jackson, Daisy Ridley or Morgan Freeman!">
  <meta name="twitter:creator" content="@kovah_kvh">
</head>
<body>

<div class="container mx-auto px-4 xl:max-w-5xl">

  <div class="py-12 px-6 sm:flex items-center">
    <h1 class="text-2xl font-bold inline-block mb-4 sm:mb-0 sm:mr-6">DevLorem</h1>
    <div class="ml-auto text-xs sm:text-right">
      {{ if .ShowsParagraphs }}
        <a href="/">Hide &lt;p&gt;</a>
      {{ else }}
        <a href="/p">Show &lt;p&gt;</a>
      {{ end }}
      <br>
      <span class="text-gray-500">Click a sentence or the &lt;p&gt; to copy</span>
    </div>
  </div>

  <div class="p-6 bg-gray-800 shadow-lg rounded">
    <div class="flex items-center mb-6">
      <h2 class="text-3xl mr-6">
        {{ .Source.Source }}
      </h2>
      <button onclick="window.location.href=window.location.href" title="Reload the page for new texts" class="ml-auto">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-10 h-10">
          <path fill="#4fd1c5"
                d="M500.33 0h-47.41a12 12 0 0 0-12 12.57l4 82.76A247.42 247.42 0 0 0 256 8C119.34 8 7.9 119.53 8 256.19 8.1 393.07 119.1 504 256 504a247.1 247.1 0 0 0 166.18-63.91 12 12 0 0 0 .48-17.43l-34-34a12 12 0 0 0-16.38-.55A176 176 0 1 1 402.1 157.8l-101.53-4.87a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12h200.33a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12z"></path>
        </svg>
      </button>
    </div>
    <div class="content">
      {{ range .Source.Paragraphs }}
        <p class="mb-4">{{ . }}</p>
      {{ end }}
    </div>
  </div>

  <div class="pt-10 px-6 text-gray-400">
    <h2>DevLorem API</h2>
    <code class="inline-block py-1 px-2 my-2 text-sm bg-teal-900 text-teal-400 rounded-sm">devlorem.kovah.de/api/[amount of paragraphs]</code>
    <ul class="text-xs">
      <li>The results will be returns as Json by default.</li>
      <li>Append <code class="text-teal-400">paragraphs=true</code> as a query parameter to show paragraph tags in the output.</li>
      <li>Append <code class="text-teal-400">format=text</code> as a query parameter to get plain text output.</li>
    </ul>
  </div>

  <div class="py-10 px-6 text-xs opacity-75 text-gray-400">
    A Project by <a href="https://www.kovah.de/">Kovah.de</a>
    | <a href="https://corporatelorem.kovah.de/">Lorem Ipsum for client projects</a>
    | <a href="https://github.com/Kovah/DevLorem/">Contribute</a>
  </div>

</div>

<script src="/static/clipboard.min.js"></script>
<script>
  var paragraphs = document.querySelectorAll('.content p');
  paragraphs.forEach(function ($paragraph) {
    var clipboard = new ClipboardJS($paragraph, {
      text: function (trigger) {
        return trigger.innerHTML;
      }
    });

    clipboard.on('success', function (e) {
      e.trigger.classList.remove('success');
      e.trigger.classList.add('success');
      setTimeout(function () {
        e.trigger.classList.remove('success');
      }, 2000);
    });

    $paragraph.addEventListener('click', function (e) {
      if (document.body.createTextRange) {
        const range = document.body.createTextRange();
        range.moveToElementText(e.currentTarget);
        range.select();
        document.execCommand('copy');
      } else if (window.getSelection) {
        const selection = window.getSelection();
        const range = document.createRange();
        range.selectNodeContents(e.currentTarget);
        selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');
      } else {
        console.warn('Could not select text in node: Unsupported browser.');
      }
    });
  });
</script>

</body>
</html>
